head
  meta(charset='utf-8')
  title Title2
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css')

  body
    p test
    .modal-dialog
        .modal-content
          // Modal Header
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") ×
              span.sr-only Close
            h4#myModalLabel.modal-title
              | Crear usuario
          // Modal Body
          .modal-body
            form(role='form' method='POST' action='http://localhost:3000/usuario')
              div.form-group
                label(for='nombre_usuario') Name:
                input#name.form-control(type='email', placeholder='usuario@gmail.com' name='nombre_usuario')
              div.form-group
                label(for='password') Password:
                input#email.form-control(type='text', placeholder='xxxx' name='password')
              button.btn.btn-primary(type="submit", name="asdf") Create
          // Modal Footer
          .modal-footer
            h4 footer
